<%= form_for @movie do |f|%>

<h1>Rent a Jack's Movie</h1>
	<br>
	<br>
	<div>
		Title: <%= f.text_field :title%><br><br>
		Year: <%= f.text_field :year%><br><br>
		<%= f.submit 'Create Movie', :class => 'btn btn-primary' %>
	</div>
<% end %>
<br><br>
<h1>Movie's List</h1>
<br><br>
<% if !@movies.blank? %>
	<table class="table">
		<th>Title</th>
		<th>Year</th>
		<% for movie in @movies %>
			<tr>
				<td><%= link_to movie.title, :controller=> :rentals, :action => :new, :id => movie.id %></td>
				<td><%= movie.title %></td>
				<td><%= movie.year %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<%= 'No Movies Yet' %>
<% end %>



